body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1358px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:44px;
  width:373px;
  height:316px;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:379px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:17px;
  width:438px;
  height:379px;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:139px;
  width:34px;
  height:34px;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:223px;
  width:34px;
  height:34px;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:25px;
  width:88px;
  height:60px;
}
#u1136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:35px;
  width:50px;
  height:28px;
}
#u1137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:25px;
  width:375px;
  height:667px;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:32px;
  width:28px;
  height:24px;
}
#u1142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:39px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:39px;
  width:69px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:35px;
  width:43px;
  height:24px;
}
#u1145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:629px;
  width:375px;
  height:1px;
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:634px;
  width:52px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:634px;
  width:52px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  word-wrap:break-word;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:77px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:74px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:119px;
  width:375px;
  height:74px;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:74px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:203px;
  width:375px;
  height:74px;
}
#u1151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:232px;
  width:22px;
  height:16px;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:148px;
  width:22px;
  height:16px;
  color:#000000;
}
#u1153_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:128px;
  width:124px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:213px;
  width:124px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:25px;
  width:375px;
  height:667px;
  opacity:0.5;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:213px;
  width:300px;
  height:183px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  word-wrap:break-word;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:505px;
  width:129px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:581px;
  width:109px;
  height:49px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:688px;
  width:72px;
  height:48px;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u1161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:688px;
  width:72px;
  height:48px;
}
#u1161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:688px;
  width:72px;
  height:48px;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:688px;
  width:0px;
  height:0px;
}
#u1163_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-86px;
  width:8px;
  height:86px;
}
#u1163_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-86px;
  width:63px;
  height:8px;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:630px;
  width:0px;
  height:0px;
}
#u1164_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:606px;
  width:0px;
  height:0px;
}
#u1165_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u1165_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-4px;
  width:8px;
  height:86px;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:831px;
  width:115px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:769px;
  width:101px;
  height:52px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  word-wrap:break-word;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:837px;
  width:101px;
  height:52px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  word-wrap:break-word;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:962px;
  width:101px;
  height:52px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  word-wrap:break-word;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1047px;
  width:101px;
  height:52px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  word-wrap:break-word;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:795px;
  width:0px;
  height:0px;
}
#u1171_seg0 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1171_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-4px;
  width:8px;
  height:40px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:863px;
  width:0px;
  height:0px;
}
#u1172_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:988px;
  width:0px;
  height:0px;
}
#u1173_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u1173_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-93px;
  width:8px;
  height:97px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1073px;
  width:0px;
  height:0px;
}
#u1174_seg0 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1174_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-178px;
  width:8px;
  height:182px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:790px;
  width:49px;
  height:38px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:838px;
  width:49px;
  height:38px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:886px;
  width:49px;
  height:38px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:809px;
  width:0px;
  height:0px;
}
#u1178_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u1178_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:43px;
}
#u1178_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:31px;
  width:11px;
  height:8px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:857px;
  width:0px;
  height:0px;
}
#u1179_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-4px;
  width:41px;
  height:8px;
}
#u1179_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-4px;
  width:8px;
  height:14px;
}
#u1179_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:2px;
  width:19px;
  height:8px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:934px;
  width:50px;
  height:37px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:981px;
  width:50px;
  height:37px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:953px;
  width:0px;
  height:0px;
}
#u1182_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-4px;
  width:40px;
  height:8px;
}
#u1182_seg1 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-4px;
  width:8px;
  height:27px;
}
#u1182_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:15px;
  width:20px;
  height:8px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1000px;
  width:0px;
  height:0px;
}
#u1183_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1183_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-2px;
  width:8px;
  height:6px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:905px;
  width:0px;
  height:0px;
}
#u1184_seg0 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-4px;
  width:96px;
  height:8px;
}
#u1184_seg1 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-18px;
  width:8px;
  height:22px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:928px;
  width:54px;
  height:35px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:992px;
  width:54px;
  height:35px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  word-wrap:break-word;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:946px;
  width:0px;
  height:0px;
}
#u1187_seg0 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-4px;
  width:27px;
  height:8px;
}
#u1187_seg1 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-4px;
  width:8px;
  height:52px;
}
#u1187_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:40px;
  width:19px;
  height:8px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1010px;
  width:0px;
  height:0px;
}
#u1188_seg0 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-4px;
  width:27px;
  height:8px;
}
#u1188_seg1 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-14px;
  width:8px;
  height:18px;
}
#u1188_seg2 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-14px;
  width:18px;
  height:8px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:839px;
  width:101px;
  height:63px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:97px;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:756px;
  width:78px;
  height:60px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:864px;
  width:78px;
  height:60px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:786px;
  width:0px;
  height:0px;
}
#u1192_seg0 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1192_seg1 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-4px;
  width:8px;
  height:56px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:894px;
  width:0px;
  height:0px;
}
#u1193_seg0 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:-4px;
  width:46px;
  height:8px;
}
#u1193_seg1 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:-6px;
  width:8px;
  height:10px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:839px;
  width:109px;
  height:63px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:719px;
  width:87px;
  height:59px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  word-wrap:break-word;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:805px;
  width:87px;
  height:50px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:886px;
  width:80px;
  height:52px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1006px;
  width:80px;
  height:52px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1094px;
  width:80px;
  height:52px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:749px;
  width:0px;
  height:0px;
}
#u1200_seg0 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1200_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:8px;
  height:94px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:814px;
  width:0px;
  height:0px;
}
#u1201_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u1201_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:8px;
  height:28px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:912px;
  width:0px;
  height:0px;
}
#u1202_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-4px;
  width:62px;
  height:8px;
}
#u1202_seg1 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-14px;
  width:8px;
  height:18px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1032px;
  width:0px;
  height:0px;
}
#u1203_seg0 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1203_seg1 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-130px;
  width:8px;
  height:134px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1120px;
  width:0px;
  height:0px;
}
#u1204_seg0 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-4px;
  width:129px;
  height:8px;
}
#u1204_seg1 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-222px;
  width:8px;
  height:226px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:654px;
  width:77px;
  height:50px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:73px;
  word-wrap:break-word;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:714px;
  width:77px;
  height:50px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:73px;
  word-wrap:break-word;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:679px;
  width:0px;
  height:0px;
}
#u1207_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1207_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:8px;
  height:39px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:749px;
  width:0px;
  height:0px;
}
#u1208_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u1208_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-14px;
  width:8px;
  height:18px;
}
#u1208_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-14px;
  width:16px;
  height:8px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:774px;
  width:83px;
  height:34px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:818px;
  width:83px;
  height:34px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:877px;
  width:83px;
  height:34px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:921px;
  width:83px;
  height:34px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:980px;
  width:83px;
  height:34px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:877px;
  width:83px;
  height:34px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:980px;
  width:83px;
  height:34px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:1033px;
  width:83px;
  height:34px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:791px;
  width:0px;
  height:0px;
}
#u1217_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u1217_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:32px;
}
#u1217_seg2 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:20px;
  width:16px;
  height:8px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:894px;
  width:0px;
  height:0px;
}
#u1218_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1218_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-2px;
  width:8px;
  height:6px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:912px;
  width:0px;
  height:0px;
}
#u1219_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u1219_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:34px;
}
#u1219_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:22px;
  width:22px;
  height:8px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:835px;
  width:0px;
  height:0px;
}
#u1220_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u1220_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:11px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:997px;
  width:0px;
  height:0px;
}
#u1221_seg0 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u1221_seg1 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-4px;
  width:8px;
  height:21px;
}
#u1221_seg2 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:9px;
  width:17px;
  height:8px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:1032px;
  width:0px;
  height:0px;
}
#u1222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u1222_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:26px;
}
#u1222_seg2 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:14px;
  width:19px;
  height:8px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:1006px;
  width:83px;
  height:34px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:1065px;
  width:83px;
  height:34px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:1023px;
  width:0px;
  height:0px;
}
#u1225_seg0 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-4px;
  width:29px;
  height:8px;
}
#u1225_seg1 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-4px;
  width:8px;
  height:27px;
}
#u1225_seg2 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:15px;
  width:25px;
  height:8px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:1082px;
  width:0px;
  height:0px;
}
#u1226_seg0 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-4px;
  width:29px;
  height:8px;
}
#u1226_seg1 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-36px;
  width:8px;
  height:40px;
}
#u1226_seg2 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-36px;
  width:23px;
  height:8px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
